html {color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0;padding:0}
table {border-collapse:collapse;border-spacing:0}
fieldset,img {border:0}
:focus { outline: 0; }
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:400}
ol,ul {list-style:none}
caption,th {text-align:left}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:400}
q:before,q:after {content:''}
abbr,acronym {border:0;font-variant:normal}
sup {vertical-align:text-top}
sub {vertical-align:text-bottom}
input,textarea,select {font-family:inherit;font-size:inherit;font-weight:inherit;}
legend {color:#000}
.clearfix:before,.clearfix:after {content:"";display:table}
.clearfix:after {clear:both}
.text-overflow {overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.webkit-adjust {-webkit-text-size-adjust:none}
a {text-decoration:none;}
a:hover {text-decoration:none;cursor:pointer;}
body {color:#666;font:13px/1.5 tahoma,Arial,"Microsoft Yahei",sans-serif;position:relative;-webkit-font-smoothing:antialiased}
html, body{height:100%;overflow:hidden;-webkit-user-select:none}
/*reset end*/
.huikongBody{width:100%;height:100%;background:url(../images/huikong_bg.png) no-repeat;background-size:100% 100%}

.hkTitleBar{height:40px;background-color:#001a27;position:absolute;top:0;left:0;width:100%;z-index:9999;-webkit-app-region: drag;}

.hkTitleBar .meetingRoomDragBar{
	position:absolute;
	left:440px;
	top:0px;
	bottom: 0px;
	right: 200px;
	-webkit-app-region: drag;
	/*background: #ff0000;*/
}
/*.hkTitleBar .meetingRoomDragBar{left: 180px;}*/

.hkTitleBar .title{float:left;font-size:14px;color:#888f94 ;line-height:40px; -webkit-app-region: no-drag;}
.hkTitleBar .title .roomNum{margin-left:10px;float:left;padding-right:5px}
/*.hkTitleBar .title .roomNum{margin-left:14px;margin-right:20px}*/

.hkTitleBar .operation{float:right; -webkit-app-region: no-drag;}
.hkTitleBar .operation .btn{float:left;width:24px;height:24px;background-repeat:no-repeat;background-position:center;margin:8px;}
.hkTitleBar .operation .btn_max{background-image:url(../images/max_normal.png)}
.hkTitleBar .operation .btn_max:hover{background-image:url(../images/max_hover.png)}
.hkTitleBar .operation .btn_max:active{background-image:url(../images/max_active.png)}

.hkTitleBar .operation .btn_restore{background-image:url(../images/restore_normal.png)}
.hkTitleBar .operation .btn_restore:hover{background-image:url(../images/restore_hover.png)}
.hkTitleBar .operation .btn_restore:active{background-image:url(../images/restore_active.png)}

.hkTitleBar .operation .btn_min{background-image:url(../images/min_normal.png)}
.hkTitleBar .operation .btn_min:hover{background-image:url(../images/min_hover.png)}
.hkTitleBar .operation .btn_min:active{background-image:url(../images/min_active.png)}

.hkTitleBar .operation .btn_net{background-image:url(../images/net_normal.png)}
.hkTitleBar .operation .btn_net:hover{background-image:url(../images/net_hover.png)}
.hkTitleBar .operation .btn_net:active{background-image:url(../images/net_active.png)}

.hkTitleBar .operation .btn_info{background-image:url(../images/info_normal.png)}
.hkTitleBar .operation .btn_info:hover{background-image:url(../images/info_hover.png)}
.hkTitleBar .operation .btn_info:active{background-image:url(../images/info_active.png)}

.hkTitleBar .operation .btn_setting{background-image:url(../images/setting_normal.png)}
.hkTitleBar .operation .btn_setting:hover{background-image:url(../images/setting_hover.png)}
.hkTitleBar .operation .btn_setting:active{background-image:url(../images/setting_active.png)}

.hkTitleBar .operation .btn_exit{background-image:url(../images/exit_normal.png)}
.hkTitleBar .operation .btn_exit:hover{background-image:url(../images/exit_hover.png)}
.hkTitleBar .operation .btn_exit:active{background-image:url(../images/exit_active.png)}


.hkTitleBar .title .lock{margin-top:8px;float:left;cursor:pointer;width:24px;height:24px;background:url(../images/lock.png) no-repeat;}
.hkTitleBar .title .lock.unlock{background-image:url(../images/unlock.png)}
.hkTitleBar .title .password{margin-top:10px;float:left;cursor:pointer;width:24px;height:24px;background:url(../images/icon_password.png) no-repeat;}
/*.hkTitleBar .title .unlock{margin-top:8px;float:left;cursor:pointer;width:24px;height:24px;background:url(../images/unlock.png) no-repeat;}*/


.hkTitleBar .title .roomMode{float:left;cursor:pointer;padding-left:0px;padding-right:0px;position:Relative;}
/*.hkTitleBar .title .roomMode{padding-left:8px;}*/
.hkTitleBar .title .roomMode span,.hkTitleBar .title .roomMode em{float:left;}
.hkTitleBar .title .roomMode span{ margin:0px 5px 0px 15px}
.hkTitleBar .title .roomMode em{margin-top:8px;margin-left:5px;width:24px;height:24px;background:url(../images/arr1_normal.png) no-repeat;}
.hkTitleBar .title .roomMode ul{position:absolute;top:40px;right:24px;width:140px;background-color:rgba(28,35,41,0.6);line-height:30px}
/*.hkTitleBar .title .roomMode ul{display:none;left:0;width:100%;}*/
/*.hkTitleBar .title .roomMode:hover ul{display:block}*/
.hkTitleBar .title .roomMode  li{padding-left:8px}
.hkTitleBar .title .roomMode  li:hover{color:#c7ccd0}
.roomNumber{ float:left; margin-left:5px; margin-right:12px;}

.toolBar{height:50px;background-color:#000a10;position:absolute;bottom:0;left:0;width:100%;z-index:61}
.toolBar .tools{float:left;}
.toolBar .tools s{width:1px;height:14px;background-color:rgba(166,172,187,0.5);float:left;margin-top:18px}
.toolBar .tools .btn{float:left;width:24px;height:24px;background-repeat:no-repeat;background-position:center;margin:13px 10px;}
.toolBar .tools .btn_mic{background-image:url(../images/mic_normal.png)}
.toolBar .tools .btn_mic:hover{background-image:url(../images/mic_hover.png)}
.toolBar .tools .btn_mic:active{background-image:url(../images/mic_active.png)}
.toolBar .tools .btn_mic.dis{background-image:url(../images/mic_dis.png)}
.toolBar .tools .btn_mic.err{background-image:url(../images/mic_err.png)}
.toolBar .tools .btn_mic.gray{opacity:0.45}

.toolBar .tools .btn_voice{background-image:url(../images/voice_normal.png)}
.toolBar .tools .btn_voice:hover{background-image:url(../images/voice_hover.png)}
.toolBar .tools .btn_voice:active{background-image:url(../images/voice_active.png)}
.toolBar .tools .btn_voice.dis{background-image:url(../images/voice_dis.png)}
.toolBar .tools .btn_voice.err{background-image:url(../images/voice_err.png)}
.toolBar .tools .btn_voice.gray{opacity:0.45}

.toolBar .tools .btn_camera{background:url(../images/camera_normal.png) no-repeat;}
.toolBar .tools .btn_camera:hover{background:url(../images/camera_hover.png) no-repeat;}
.toolBar .tools .btn_camera:active{background:url(../images/camera_active.png) no-repeat}
.toolBar .tools .btn_camera.dis{background:url(../images/camera_dis.png) 0px -1px;}
.toolBar .tools .btn_camera.err{background:url(../images/camera_err.png) 0px -1px;}
.toolBar .tools .btn_camera.gray{opacity:0.45}

.toolBar .tools .btn_grid{background-image:url(../images/grid_normal.png)}
.toolBar .tools .btn_grid:hover{background-image:url(../images/grid_hover.png)}
.toolBar .tools .btn_grid:active{background-image:url(../images/grid_active.png)}

.toolBar .tools .btn_xyz{background-image:url(../images/xyz_normal.png)}
.toolBar .tools .btn_xyz:hover{background-image:url(../images/xyz_hover.png)}
.toolBar .tools .btn_xyz:active{background-image:url(../images/xyz_active.png)}

.toolBar .functions{float:right;}
.toolBar .functions s{width:1px;height:14px;background-color:rgba(166,172,187,0.5);float:left;margin:18px 6px 0px}
.toolBar .functions .btn{float:left;height:50px;line-height:50px;width:130px;text-align:center;font-size:0}
.toolBar .functions .btn em{margin-right:5px;vertical-align:middle;width:24px;height:24px;display:inline-block;background-repeat:no-repeat;background-position:center;}
.toolBar .functions .btn span{vertical-align:middle;font-size:14px;display:inline-block;color:#888f94}
.toolBar .functions .btn:hover{background-color:#122129}
.toolBar .functions .btn .openClose_videoshow{float:left;width:95px; }
.toolBar .functions .btn .openClose_videoshow:hover{background:#0f1a21 }
.toolBar .functions .btn i{float:right;width:34px;height:50px; display:inline-block;background:url("../images/arr1_normal.png") no-repeat center;}
.toolBar .functions .btn i:hover{background:#0f1a21 url("../images/arr1_normal.png") no-repeat center;}
.toolBar .functions .btn .icon_videoshow{transform:rotate(180deg);}

.toolBar .functions .btn_recording em{background-image:url(../images/recording_normal.png)}
.toolBar .functions .btn_recording .icon_videoshow:hover em{background-image:url(../images/recording_hover.png)}
.toolBar .functions .btn_recording:active em{background-image:url(../images/recording_active.png)}
.toolBar .functions .btn_recording:hover{background-color:rgba(255,255,255,0)}

.toolBar .functions .btn_share em{background-image:url(../images/share_normal.png)}
.toolBar .functions .btn_share:hover em{background-image:url(../images/share_hover.png)}
.toolBar .functions .btn_share:active em{background-image:url(../images/share_active.png)}
.toolBar .functions .btn_share.dis em{opacity:0.5}
.toolBar .functions .btn_share.dis span{opacity:0.5}
.toolBar .functions .btn_share.dis:hover{background-color:rgba(255,255,255,0)}

.toolBar .functions .btn_live em{background-image:url(../images/live_normal.png)}
.toolBar .functions .btn_live:hover em{background-image:url(../images/live_hover.png)}
.toolBar .functions .btn_live:active em{background-image:url(../images/live_active.png)}


.toolBar .functions .btn_speak .no-speak{background-image:url(../images/speak_normal.png)}
/*.toolBar .functions .btn_speak:hover em{background-image:url(../images/speak_hover.png)}*/
/*.toolBar .functions .btn_speak:active em{background-image:url(../images/speak_active.png)}*/
.toolBar .functions .btn_speak .speaking{background-image:url(../images/gag_normal.png)}
.toolBar .functions .btn_speak .up-hand{background-image:url(../images/hand_normal.png)}

.toolBar .dmenu{position:Absolute;bottom:56px;box-shadow:0 0 8px 0 rgba(0,0,0,0.2);}
.toolBar .dmenu ul{position:relative;z-index:3;border-radius:3px;background-color:#f7fbfd;overflow: hidden}
.toolBar .dmenu li{height:32px;color:#555;font-size:12px;line-height:32px;cursor:pointer; padding: 0px 13px;}
.toolBar .dmenu li .gray{color:#999}
.toolBar .dmenu li em,.toolBar .dmenu li span{float:left;}
.toolBar .dmenu li em{margin:9px; margin-left:0px;width:14px;height:14px;background:url(../images/radio_normal.png) no-repeat;}
/*.toolBar .dmenu li span{padding-right:12px; padding-left: 20px;}*/
.toolBar .dmenu li.bold_item em{visibility:hidden}

.toolBar .dmenu li:hover{background-color:#9b9c9f}
.toolBar .dmenu li:hover em{background-image:url(../images/radio_hover.png)}
.toolBar .dmenu li:hover span{color:#fff}
.toolBar .video_setting ul li:hover{background-color:#fff}
.toolBar .video_setting ul li:hover span{color:#999}
.toolBar .video_setting ul li:hover em{background-image:url(../images/radio_normal.png)}
.toolBar .video_setting ul li:hover.go_setting_video em{background-image:url(../images/icon_setting.png)}

.toolBar .dmenu li.current{}
.toolBar .dmenu li.current em{background-image:url(../images/radio_checked.png)}
.toolBar .dmenu li.current_blue em{background-image:url(../images/radio_checked_blue.png)}
.toolBar .dmenu li.current:hover em{background-image:url(../images/radio_checked_hover.png)}
.toolBar .dmenu li.current_blue:hover em{background-image:url(../images/radio_checked_blue.png)}

.toolBar .dmenu::after{left:18px;bottom:-5px;content:"";position:absolute;background-color:#f7fbfd;width:10px;height:10px;transform:rotate(45deg)}
.toolBar .dmenu:hover::after{background-color:#9b9c9f}
.toolBar .error{color:#fff; line-height:24px;padding:2px 7px;position:Absolute;bottom:56px;border-radius:3px;box-shadow:0 0 8px 0 rgba(0,0,0,0.2);background-color:#e96969}
.toolBar .error span{float: left}
.toolBar .error_close{float: right;  width: 24px;  height: 24px; background: url(../images/dialog_close.png) center no-repeat;cursor:pointer;}
.toolBar .error:after{left:18px;bottom:-5px;content:"";position:absolute;background-color:#e96969;width:10px;height:10px;transform:rotate(45deg)}

.toolBar .mic_setting{left:0;z-index:2}
.toolBar .voice_setting{left:42px;z-index:3}
.toolBar .camera_setting{left:90px;z-index:4}
.toolBar .grid_setting{left:138px;z-index:5}
.toolBar .xyz_setting{left:180px;z-index:6}
.toolBar .video_setting{right:271px;z-index:6;bottom:41px;}
.toolBar .dmenu li.go_setting_video em{background:url("../images/icon_setting.png") no-repeat;background-size:100%;}
.toolBar .video_setting::after{left:57px;display:none}

.toolBar .video_end{position:Absolute; background-color:#596f7b;color:#94989b;bottom:56px;box-shadow:0 0 8px 0 rgba(0,0,0,0.2);padding:0px 10px; border-radius:3px;line-height: 35px;right: 109px;}
.toolBar .video_end::after{display:none;right:212px;bottom:-5px;content:"";position:absolute;background-color:#596f7b;width:10px;height:10px;transform:rotate(45deg)}
.toolBar .video_end .icon_endfile{display:inline-block; width:20px;height:18px;background:url("../images/icon_files.png") no-repeat;vertical-align: middle;margin-right:6px;opacity:0.5}
.toolBar .video_end a{ display:inline-block;margin-left:25px;color:#3abcc4;text-decoration:underline}

.viewport{position:absolute;top:40px;bottom:50px;left:0;right:0;z-index:59}
.viewport .visual{position:absolute;right:360px;left:0;top:0;bottom:0;}
.viewport .visual .state{position:absolute;color:rgba(255,255,255,0.7);font-size:14px;right:21px;top:12px;line-height:26px;height:26px;width:124px;text-align:center;background-color:rgba(0,0,0,0.5);border-radius:13px;}
.state em{position:absolute;top:9px;left:9px;width:8px;height:8px;border-radius:4px;background-color:Red;}
#live_time.state{right:auto;left:21px;}

.viewport .visual .vga_item{position:relative;background:url(../images/noVideo.png) #1c2329 center no-repeat;overflow:hidden;background-size:40px 40px}
.viewport .visual .vga_item .videoImage{width:100%;height:100%}
.viewport .visual .vga_item .shadow{position:absolute;bottom:-36px;left:0;right:0;height:36px;line-height:36px;background-color:rgba(0,0,0,0.5)}
.viewport .visual .vga_item:hover .shadow{bottom:0}
.viewport .visual .vga_item .shadow .name{margin-left:14px;float:left;color:rgba(255,255,255,0.7);font-size:14px}
.viewport .visual .vga_item .shadow .btns{float:right;}
.viewport .visual .vga_item .shadow .btns a{float:left;width:24px;height:24px;background-repeat:no-repeat;background-position:center;margin:6px}
.viewport .visual .vga_item .shadow .btns a.camera{background-image:url(../images/camera2_normal.png)}
.viewport .visual .vga_item .shadow .btns a.camera:hover{background-image:url(../images/camera2_hover.png)}
.viewport .visual .vga_item .handnow{cursor:url("../images/hand.ico"),pointer}

.viewport .visual .vga_item.dis .videoImage{display:none}
.viewport .visual .vga_item.otherSee .videoImage{display:none}
.viewport .visual .vga_item.dis .shadow .btns a.camera{background-image:url(../images/camera2_dis.png)}
.viewport .visual .vga_item.otherSee .shadow .btns a.camera{background-image:url(../images/camera2_dis.png); opacity:0.25}

.viewport .visual .vga_item .shadow2{background-color:rgba(0,0,0,1);position:absolute;left:0;right:0;top:0;bottom:0;}
.viewport .visual .vga_item .shadow2 span{position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);}

/*布局切换*/
/*等屏模式*/
.vga_layout_1{position:absolute;width:100%;height:100%}
.vga_layout_1 .vga_item{float:left;width:50%;height:50%;}

/*主持模式2*/
.vga_layout_2{position:absolute;width:100%;height:100%}
.vga_layout_2 .vga_item{float:left;width:25%;height:25%;}
.vga_layout_2 .vga_item:first-child{float:right;width:75%;height:100%;box-sizing: border-box;border-left:1px solid #081a2e;}

/*主持模式1*/
.vga_layout_3{position:absolute;width:100%;height:100%}
.vga_layout_3 .vga_item{float:left;width:25%;height:22%;}
.vga_layout_3 .vga_item:first-child{float:left;width:100%;height:78%;background-size:80px 80px}

/*聚焦模式*/
.vga_layout_4{position:absolute;width:100%;height:100%}
.vga_layout_4 .vga_item{display:none;float:left;width:25%;height:22%;}
.vga_layout_4 .vga_item:first-child{display:block;float:left;width:100%;height:100%;background-size:80px 80px}

/*等屏模式2:2*/
.vga_layout_5{position:absolute;width:100%;height:100%}
.vga_layout_5 .vga_item{float:left;width:50%;height:44%;}
.vga_layout_5:before{float:left;width:100%;height:27%; content: "";}

/*侧栏*/
.viewport .sideBar{position:absolute;right:0;top:0;bottom:0;width:360px;background-color:#092534}
.viewport .sideBar .mange_title{height:58px;border-bottom:1px #2f4755 solid;}
.viewport .sideBar .mange_title .mem_title{cursor:pointer;font-size:16px;height:58px;color:#425b64;float:left;margin:0 16px;box-sizing:border-box;line-height:58px;padding:0 8px}
.viewport .sideBar .mange_title .mem_title.current{color:#3abcc4;border-bottom:3px #3abcc4 solid}

.viewport .sideBar .mange_title .btn_invite{float:right;width:38px;height:58px;background:url(../images/icon_intive_normal.png) center no-repeat;box-sizing:border-box;}
.viewport .sideBar .mange_title .btn_invite:hover{background-image:url(../images/icon_intive_hover.png)}
.viewport .sideBar .mange_title .btn_invite:active{background-image:url(../images/icon_intive_active.png)}
.viewport .sideBar .mange_title .btn_invite.current{border-bottom:3px #3abcc4 solid}

.viewport .sideBar .memList{}
.viewport .sideBar .memList .item{cursor:pointer;height:60px;line-height:60px;position:relative;}
/*.viewport .sideBar .memList .item{overflow:hidden;}*/
.viewport .sideBar .memList .item:hover .item_menu{display:block}
.viewport .sideBar .memList .item .icon{text-align:center;line-height:36px;overflow:hidden;width:36px;height:36px;position:absolute;background-color:#fff;color:#83d0ee;font-size:20px;border-radius:100%;left:18px;top:12px}
.viewport .sideBar .memList .item .name{margin-left:75px;color:#d3d6d8;font-size:14px}
.viewport .sideBar .memList .item .btns{position:absolute;right:0;top:0;}
.viewport .sideBar .memList .item .btns a{float:left;width:24px;height:24px;background-repeat:no-repeat;background-position:center;margin:18px 5px}
.viewport .sideBar .memList .item .btns a.hand{background-image:url(../images/hand_normal.png)}
.viewport .sideBar .memList .item .btns a.hand:hover{background-image:url(../images/hand_hover.png)}
.viewport .sideBar .memList .item .btns a.hand:active{background-image:url(../images/hand_active.png)}

.viewport .sideBar .memList .item .btns a.add{background-image:url(../images/add_normal.png)}
.viewport .sideBar .memList .item .btns a.add:hover{background-image:url(../images/add_hover.png)}
.viewport .sideBar .memList .item .btns a.add:active{background-image:url(../images/add_active.png)}

.viewport .sideBar .memList .item .btns a.inv{visibility:hidden;color:#1f9db1;font-size:14px;width:auto;margin:18px 5px;line-height:24px;padding:0 10px}

.viewport .sideBar .memList .item .btns a.share{background-image:url(../images/share_normal.png);opacity: 0.25}
/*.viewport .sideBar .memList .item .btns a.share:hover{background-image:url(../images/share_hover.png)}*/
/*.viewport .sideBar .memList .item .btns a.share:active{background-image:url(../images/share_active.png)}*/

.viewport .sideBar .memList .item .btns a.speak{background-image:url(../images/speak_normal.png);opacity: 0.25}
.viewport .sideBar .memList .item .btns a.dis{background-image:url(../images/mic_mute.png);opacity: 0.8}
.viewport .sideBar .memList .item .btns a.speak_mute{background-image:url(../images/mic_mute.png);}
/*.viewport .sideBar .memList .item .btns a.speak:hover{background-image:url(../images/speak_hover.png)}*/
/*.viewport .sideBar .memList .item .btns a.speak:active{background-image:url(../images/speak_active.png)}*/

.viewport .sideBar .memList .item .btns a.host{background-image:url(../images/host_normal.png)}
.viewport .sideBar .memList .item .btns a.host:hover{background-image:url(../images/host_hover.png)}
.viewport .sideBar .memList .item .btns a.host:active{background-image:url(../images/host_active.png)}

.viewport .sideBar .memList .item:hover{box-shadow:inset 0px 0px 10px rgba(255,255,255,0.2);}
/*.viewport .sideBar .memList .item:hover .btns a.speak{visibility:visible}*/
.viewport .sideBar .memList .item:hover .btns a.inv{visibility:visible}

.item_menu{display:none;position: absolute;width: 125px; border-radius:5px; background-color:#e0e4e5; z-index:9999;top:46px;left: 120px;overflow: hidden;display: none}
.item_menu a{ display: block;line-height: 33px; width: 100%; border-bottom:1px solid #d1d5d6; text-align: center; color:#333;}
.item_menu a:last-child{border-bottom:none;}
.item_menu a:hover{ background-color:#9b9c9f; color:#fff;}
.icon_stranger{position: absolute;width:10px;height:10px; background-image: linear-gradient(#e03960,#aa1827); border-radius:50%;left:43px; top:40px;z-index: 999;}


#addressBook{position:absolute;top:143px;bottom:0;left:0;right:0;overflow:auto}
#memList{position:absolute;top:60px;bottom:0;left:0;right:0;overflow:auto}

#addressBook::-webkit-scrollbar-track-piece{
	background-color:#041a26;
	-webkit-border-radius:6px;
}
#addressBook::-webkit-scrollbar{
	width:12px;
	height:12px;
}
#addressBook::-webkit-scrollbar-thumb{
	height:50px;
	background-color:#153f55;
	-webkit-border-radius:6px;
	outline:2px solid #041a26;
	outline-offset:-2px;
	border: 2px solid #041a26;
}
#addressBook::-webkit-scrollbar-thumb:hover{
	height:50px;
	background-color:#235873;
	-webkit-border-radius:6px;
}

#memList::-webkit-scrollbar-track-piece{
	background-color:#041a26;
	-webkit-border-radius:6px;
}
#memList::-webkit-scrollbar{
	width:12px;
	height:12px;
}
#memList::-webkit-scrollbar-thumb{
	height:50px;
	background-color:#153f55;
	-webkit-border-radius:6px;
	outline:2px solid #041a26;
	outline-offset:-2px;
	border: 2px solid #041a26;
}
#memList::-webkit-scrollbar-thumb:hover{
	height:50px;
	background-color:#235873;
	-webkit-border-radius:6px;
}


.meetingInfo_scroll::-webkit-scrollbar-track-piece{
	background-color:#041a26;
	-webkit-border-radius:6px;
}
.meetingInfo_scroll::-webkit-scrollbar{
	width:12px;
	height:12px;
}
.meetingInfo_scroll::-webkit-scrollbar-thumb{
	height:50px;
	background-color:#153f55;
	-webkit-border-radius:6px;
	outline:2px solid #041a26;
	outline-offset:-2px;
	border: 2px solid #041a26;
}
.meetingInfo_scroll::-webkit-scrollbar-thumb:hover{
	height:50px;
	background-color:#235873;
	-webkit-border-radius:6px;
}

.sideBar .invite{margin:18px 14px;overflow:hidden;width:332px;}
.sideBar .invite .inputText{border:1px #c0c4c7 solid;border-radius:4px;background-color:transparent;width:238px;height:34px;font-size:14px;padding-left:12px;color:#d4d5d6}
.sideBar .invite .inputText.err{border-color:#ff0000}
.sideBar .invite .inputText:hover{border-color:#1f9db1}
.sideBar .invite .inputText::-webkit-input-placeholder{color:#8c999f;line-height:17px;}
.sideBar .invite .inputBtn{cursor:pointer;float:right;background-color:#1f9db1;color:#fff;font-size:14px;border:0;border-radius:4px;height:36px;width:72px}
.sideBar .invite .inputBtn:hover{background-color:#008a9a}
.sideBar .invite .inputBtn:active{background-color:#008292}

.invite .linkCopy{margin-bottom:13px;font-size:0;position:relative}
.invite .linkCopy .btn{cursor:pointer;background-color:#1f9db1;color:#fff;font-size:14px;width:160px;height:40px;line-height:40px;text-align:center;border-radius:4px;display:inline-block}
.invite .linkCopy .btn:hover{background-color:#008a9a}
.invite .linkCopy .btn:active{background-color:#008292}
.invite .linkCopy .btn2{float:right;}
#sideBar_handle{cursor:pointer;width:14px;height:226px;position:absolute;left:-14px;top:50%;background:url(../images/sideBar_handle1.png) no-repeat;transform: translateY(-50%);}
#sideBar_handle.on{background-image:url(../images/sideBar_handle2.png)}

#mask{background-color:rgba(0,0,0,0.4);position:absolute;left:0;top:0;bottom:0;right:0;z-index:62}
.hkDialog{position:absolute;min-width:300px;z-index:63;border-radius:4px;overflow:hidden;background-color:#fff;left:50%;top:50%;transform: translate(-50%, -50%);}
.hkDialog .title{background-color:#7599ae;font-size:12px;height:36px;color:#fff;line-height:36px;padding-left:14px;}
.hkDialog .title .close{float:right;width:24px;height:24px;background:url(../images/dialog_close.png) center no-repeat;margin:6px;cursor:pointer}
.hkDialog .con{}

#viedoSettingDia{width:704px;height:434px;}
.viedoSettingType{padding-top:30px;}
.noclick_setting{position: absolute;width: 700px;height:320px;background-color:rgba(255,255,255,0.6);z-index:999;top:45px;left:0px;}
#sharingDevice1{width:704px;height:410px;}
.shareType{position:relative;}
.shareType .item{position:absolute;top:90px;width:163px;text-align:center;cursor:pointer}
.shareType .item::after{position:Absolute;content:"";top:0;left:21px;width:120px;height:120px;background-color:#000;opacity:0;border-radius:60px}
.shareType .item img{display:block;margin:0 auto 13px;}

.shareType .item h3{font-size:16px;color:#666}
.shareType .item h4{font-size:12px;color:#aeaeae;visibility:hidden}
.shareType .item:hover::after{opacity:0.2}
.shareType .item:active::after{opacity:0.4}
.shareType .item:hover h4{visibility:visible}

#sharingDevice3{width:704px;height:430px;}
#sharingDevice2{width:500px;height:306px}
.extData_config{margin:50px 26px 0;position:relative;}
.extData_config .row::after{content:"";display:table;clear:both}
.extData_config .label{width:94px;float:left;color:#686d71;font-size:14px;line-height:36px;letter-spacing:2px}
.extData_config .select{border:1px #dbdddc solid;border-radius:2px;height:36px;width:350px;color:#686d71;font-size:12px;}
.extData_config .link{color:#1f9db1;font-size:12px;text-decoration:underline;}
.extData_config .btn{cursor:pointer;background-color:#1f9db1;width:100px;height:36px;float:left;border-radius:4px;text-align:center;line-height:36px;color:#fff;font-size:14px;}
.extData_config .btn:hover{background-color:#008a9a}
.extData_config .btn:active{background-color:#008292}

.extData_config .btn.btn_start{margin-right:65px;}
.extData_config .btn.btn_cancel{background-color:#b0b7bb}


#exitMeeting{width:502px;height:340px}
#exitMeeting .desc{color:#666;font-size:18px;margin-top:80px;text-align:center;margin-bottom:80px;padding-left:38px;padding-right:38px;}
#exitMeeting .btns{text-align:center;font-size:0}
#exitMeeting .btns span{cursor:pointer;background-color:#1f9db1;width:100px;height:36px;border-radius:4px;text-align:center;line-height:36px;color:#fff;font-size:14px;display:inline-block;}
#exitMeeting .btns span:hover{background-color:#008a9a}
#exitMeeting .btns span:active{background-color:#008292}
#exitMeeting .btns span.btn_cancel{background-color:#b0b7bb;margin-left:86px}

.hkTips{position:absolute;min-width:160px;background-color:#d0dde5;border-radius:4px;}
.hkTips p{font-size:12px;color:#595a5d;padding:6px 10px;text-align:center}
.hkTips em{position:absolute;width:10px;height:10px;background-color:#d0dde5;transform:rotate(45deg) translateX(-50%);left:50%;top:0px}

.hkTips.hkTips_record{top:-44px;right:375px}
.hkTips.hkTips_record em{top:auto;bottom:-7px}

.hkTips.hkTips_copy1{left:0;top:50px;}
.hkTips.hkTips_copy2{right:0px;top:50px}

#liveDialog{width:705px;height:436px}
.startLive{position:Relative;margin:30px 40px;overflow:hidden;height:332px}
.startLive .pic{background-color:#adc6d4;position:absolute;right:0;top:0;width:206px;height:332px;border-radius:3px}
.startLive .pic img{display:block;width:168px;height:296px;margin:18px auto}
.startLive .row{}
.startLive .row::after{display:block;content:"";clear:both}
.startLive .desc_row{line-height:22px;background:url(../images/icon_star.png) 0 3px no-repeat;padding-left:24px;font-size:12px;color:#849099;margin-right:246px}
.startLive .row label{width:90px;float:left;color:#686d71;font-size:14px;line-height:38px}
.startLive .input_text{float:left;border:1px #e4e6ea solid;border-radius:3px;color:#686d71;font-size:12px;line-height:34px;padding:0 10px;width:280px;}
.startLive .input_btn{float:left;border:0;cursor:pointer;width:300px;background-color:#1f9db1;color:#fff;font-size:14px;height:36px;border-radius:3px}
.startLive .input_btn:hover{background-color:#008a9a}
.startLive .input_btn:active{background-color:#008292}


#sharingMeeting{width:705px;height:436px;}
.fenxiang{margin:30px;overflow:hidden;position:relative;height:320px}
.fenxiang a{color:#1f9db1;border-bottom:1px #1f9db1 solid}
.fenxiang .btn{cursor:pointer;background-color:#1f9db1;color:#fff;font-size:14px;height:42px;width:100%;border:0;border-radius:3px}
.fenxiang .btn:hover{background-color:#008a9a}
.fenxiang .btn:active{background-color:#008292}

.fenxiang .txt{border:1px #dbdcdd solid;border-radius:3px;height:40px;padding:1px 10px;line-height:40px;width:100%;box-sizing:border-box;font-size:14px}
.fenxiang .qr{position:absolute;left:0;top:58px;background-color:#adc6d4;text-align:center;width:224px;height:242px;}
.fenxiang .qr img{display:block;margin:26px auto 10px}
.fenxiang .qr h4{color:#fff;font-size:14px}
.fenxiang .desc{font-size:12px;color:#849099;margin-left:270px;}

#meetingInfo{width:705px;height:436px;}
.meetingInfo_scroll{margin:30px;height:330px;overflow:auto;background-color:#000;color:#fff}

#selectMic{width:705px;height:396px;}
.micList{margin:100px 30px 0;overflow:hidden;text-align:center;font-size:0}
.micList li{display:block;float:left;width:160px;text-align:center;cursor:pointer}
.micList li .pic{margin-bottom:30px;margin-left:auto;margin-right:auto;width:100px ;height:100px;background:url(../images/mic100_normal.png) no-repeat}
.micList li .name{color:#666;font-size:14px}
.micList li:hover .pic{background-image:url(../images/mic100_hover.png)}
.micList li:hover .name{color:#1f9db1}
.micList li:active .pic{background-image:url(../images/mic100_active.png)}
.micList li:active .name{color:#008292}
.micList li .pic_icon{margin-left: 3px; display: inline-block}
.micList li .pic_icon img{vertical-align: middle;margin-top:-3px;}

#meetingPassword{width:510px;box-shadow:0 0 28px 0px rgba(0,0,0,0.2);}
#meetingOff-line{width:510px;box-shadow:0 0 28px 0px rgba(0,0,0,0.2);}
.micPassword{margin:60px 50px 40px;overflow:hidden;position: relative;}
.micPassword_Shadediv{position: absolute;background-color:rgba(255,255,255,0.8); width:100%; height: 90px; top:52px; left:0px;}
.micPass_left{ float: left; width: 100%; margin-bottom:15px;}
.micPassword label{width:90px;float:left;color:#686d71;font-size:16px;line-height:38px}
.micPassword .mmp{float:left;color:#686d71;font-size:16px;line-height:38px}
.micPassword .mmp_close{ padding-top: 7px; cursor: pointer}
.micPassword .input_text{float:left;border:1px #e4e6ea solid;border-radius:3px;color:#686d71;font-size:14px;line-height:34px;padding:0 10px;width:280px;}
.micPassword .input_btn{float:left;border:0;cursor:pointer;width:185px;background-color:#1f9db1;color:#fff;font-size:16px;height:36px;border-radius:3px}
.micPassword .input_btn:hover{background-color:#008a9a}
.micPassword .input_btn:active{background-color:#008292}
.micPassword .btn_cancel{background-color:#b0b7bb; margin-left: 22px}
.micPassword .btn_cancel:hover{background-color:#a2aaaf}
.micPassword .btn_cancel:active{background-color:#9aa3a8}
.micPassword .input_btn.waiting{background-color:#d8dfe6}
.micPassword .input_btn.waiting:after{vertical-align:middle;margin-left:8px;display:inline-block;width:16px;height:16px;content:"";background:url(../images/btn_waiting.gif) no-repeat}
.micPassword .row .errTips{position:absolute;z-index:55;background-color:#d0dde5;border-radius:4px;min-width:160px;left:0;top:55px;font-size:14px;color:#595a5d;padding:6px 10px;text-align:center}
.micPassword .row .errTips:after{position:absolute;content:"";width:10px;height:10px;background-color:#d0dde5;transform:rotate(45deg) translateX(-50%);left:10%;top:0px}


#vga_data_view{position:absolute;width:100%;height:100%;display:none;}
#vga_data_view .videoImage{width:100%;height:100%}

.hkToast{min-width:200px;padding:10px 20px;font-size:14px;overflow:hidden;background-color:rgba(0,0,0,0.9);color:#fff;text-align:center;border-radius:6px;position:absolute;bottom:100px;left:50%;z-index:98;transform:translateX(-50%);}
.hkLoading{color:#999;text-align:center;padding:20px 0;border-radius:10px;position:absolute;z-index:100;left:50%;top:50%;width:150px;background-color:rgba(0,0,0,0.5);transform:translate(-50%,-50%);}
.hkLoading img{display:block;margin:0 auto 8px;}

.linkCopy_s .btn{cursor:pointer;background-color:#fff;color:#333;font-size:12px;line-height:25px;text-align:center;display:inline-block;padding: 0px 6px;border:1px solid #333;box-shadow: 0px 1px 3px #444;}
.linkCopy_s .btn:hover{background-color:#f8f8f8}
.linkCopy_s .btn:active{background-color:#f8f8f8}