html {color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0;padding:0}
table {border-collapse:collapse;border-spacing:0}
fieldset,img {border:0}
:focus { outline: 0; }
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:400}
ol,ul {list-style:none}
caption,th {text-align:left}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:400}
q:before,q:after {content:''}
abbr,acronym {border:0;font-variant:normal}
sup {vertical-align:text-top}
sub {vertical-align:text-bottom}
input,textarea,select,button {font-family:inherit;font-size:inherit;font-weight:inherit;}
legend {color:#000}
.clearfix:before,.clearfix:after {content:"";display:table}
.clearfix:after {clear:both}
.text-overflow {overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.webkit-adjust {-webkit-text-size-adjust:none}
body {color:#666;font:13px/1.5 tahoma,Arial,"Microsoft Yahei",sans-serif;position:relative;-webkit-font-smoothing:antialiased}
a {text-decoration:none;}
a:hover {text-decoration:none;cursor:pointer;}

html, body{-webkit-user-select:none}
a.normal{color:#1f9db1;border-bottom:1px #1f9db1 solid;}

.login_outer{background-color:#fff;position:relative;}
.login_pic{height:141px;background:url(../images/login/login_form_logo.png) no-repeat;background-size:100% 100%}
.dragBar{position: absolute;left: 0px;top: 0px;right: 70px;height: 50px; -webkit-app-region: drag;}

.login_titlebar_btns{position:absolute;right:16px;top:12px;}
.login_titlebar_btns span{float:left;width:24px;height:24px;background-repeat:no-repeat;margin-left:10px}
.login_titlebar_btns span.min{background-image:url(../images/login/login_titlebar_min.png)}
.login_titlebar_btns span.min:hover{background-image:url(../images/login/login_titlebar_min_hover.png)}
.login_titlebar_btns span.exit{background-image:url(../images/login/login_titlebar_exit.png)}
.login_titlebar_btns span.exit:hover{background-image:url(../images/login/login_titlebar_exit_hover.png)}

.login_inner{margin:0px 25px;overflow:hidden;}

.gForm{}
.gForm .fl{float:left;}
.gForm .fr{float:right;}
.gForm .input_text{border:none;width:100%;height:22px;line-height:22px;font-size:14px;float:left;margin-top:18px;}
.gForm .input_btn{cursor:pointer;background-color:#34bbca;border:none;color:#fff;font-size:16px;width:100%;border-radius:3px;line-height:40px}

.gForm .input_btn span{display:inline-block;}

.gForm .input_btn.waiting{background-color:#d8dfe6}
.gForm .input_btn.waiting:after{vertical-align:middle;margin-left:8px;display:inline-block;width:16px;height:16px;content:"";background:url(../images/btn_waiting.gif) no-repeat}



.gForm .gray-link{color:#a4aabb;font-size:12px;line-height:14px}
.gForm .gray-link:hover{color:#8c91a0}
.gForm .blue-link{color:#34bbca;border-bottom:1px #34bbca solid;font-size:12px;line-height:14px}
.gForm .blue-link:hover{color:#008292;border-color:#008292}
.gForm .row{border-bottom:1px #e0e6ec solid;min-height:58px;line-height:58px;position:relative;}
.gForm .row .errTips{position:absolute;z-index:55;background-color:#d0dde5;border-radius:4px;min-width:160px;left:30px;top:64px;font-size:14px;color:#595a5d;padding:6px 10px;text-align:center;line-height:18px}
.gForm .row .errTips:after{position:absolute;content:"";width:10px;height:10px;background-color:#d0dde5;transform:rotate(45deg) translateX(-50%);left:10%;top:0px}

.gForm .row s{height:22px;width:1px ;background-color:#e0e6ec;text-decoration:none;left:33px;top:20px;position:absolute;}
.gForm .row .icon{width:18px;height:18px;position:absolute;top:20px;left:5px;background-repeat:no-repeat;background-size:18px 18px}
.gForm .row .icon-username{background-image:url(../images/login/icon_username.png)}
.gForm .row .icon-password{background-image:url(../images/login/icon_password.png)}
.gForm .row .f{margin-left:47px;overflow:hidden;}



#miniMask{background-color:rgba(0,0,0,0.4);position:absolute;left:0;top:0;bottom:0;right:0;z-index:62}
.miniDailog{position:absolute;width:280px;z-index:63;border-radius:6px;background-color:#fff;height:139px;overflow:hidden;left:50%;top:50%;margin-left:-140px;margin-top:-70px;}
.miniDailog .close{cursor:pointer;position:absolute;right:5px;top:5px;width:8px;height:8px;background:url(../images/login/miniDailog_close.png) center no-repeat}
.miniDailog .close:hover{background:url(../images/login/miniDailog_close_hover.png) center no-repeat}

.miniDailog .msg{overflow:hidden;position:relative;height:84px;text-align:center;line-height:84px;font-size:16px;}
.miniDailog .btns{display:flex;border-top:1px #ebedf0 solid;height:54px;line-height:54px;cursor:pointer;}
.miniDailog .btns span{flex:1;text-align:center;font-size:18px;border-left:1px #ebedf0 solid; }
.miniDailog .btns span:hover{color:#1f9db1;background-color:#ebedf0}

.miniDailog .progress{position:absolute;top:40%;left:20px;right:20px;background-color:#cccccc;border-radius:3px;height:5px}
.miniDailog .progress .bar{background-color:#1f9db1;border-radius:3px;height:5px;}
.miniDailog .progress .text{position:absolute;font-size:12px;line-height:18px;left:0;right:0;text-align:center;top:9px;color:#666;}

.waihu_msg{margin:18px 30px 0;text-align:left;line-height:1.5}
.waihu_msg .ava{float:left;}
.waihu_msg  h3{margin-left:68px;font-size:16px;}
.waihu_msg  h4{margin-left:68px;font-size:14px;}
.shade_div{position: relative}
.shade_divWhite{width: 100%;position: absolute; height: 30px; top:0px;left:0px; background:#fff; opacity:0.1}
/*
检测更新
*/
.checkUpdates{text-align:center;}
.checkUpdates .shadow{margin:80px auto 0;width:156px;height:102px;background-color:#a1a2a3;border-radius:6px;overflow:hidden;}
.checkUpdates i,.checkUpdates span{display:block;color:#fff}
.checkUpdates span{letter-spacing:1px}
.checkUpdates i{width:24px;height:24px;background:url(../images/712.gif) no-repeat;margin:24px auto 12px}
.loginabToast{min-width:200px;padding:10px 20px;font-size:16px;overflow:hidden;background-color:rgba(0,0,0,0.9);color:#fff;text-align:center;border-radius:6px;position:absolute;bottom:33px;left:50%;z-index:98;transform:translateX(-50%);}
