html {color:#000;background:#fff}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0;padding:0}
table {border-collapse:collapse;border-spacing:0}
fieldset,img {border:0}
:focus { outline: 0; }
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:400}
ol,ul {list-style:none}
caption,th {text-align:left}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:400}
q:before,q:after {content:''}
abbr,acronym {border:0;font-variant:normal}
sup {vertical-align:text-top}
sub {vertical-align:text-bottom}
input,textarea,select,button {font-family:inherit;font-size:inherit;font-weight:inherit;}
legend {color:#000}
.clearfix:before,.clearfix:after {content:"";display:table}
.clearfix:after {clear:both}
.text-overflow {overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.webkit-adjust {-webkit-text-size-adjust:none}
a {text-decoration:none;}
a:hover {text-decoration:none;cursor:pointer;}
body {color:#666;font:13px/1.5 tahoma,Arial,"Microsoft Yahei",sans-serif;position:relative;-webkit-font-smoothing:antialiased}
html, body{height:100%;overflow:hidden;-webkit-user-select:none}
/*reset end*/
::-webkit-scrollbar-track-piece{
    background-color:#fff;
    -webkit-border-radius:6px;
}
::-webkit-scrollbar{
    width:12px;
    height:12px;
}
::-webkit-scrollbar-thumb{
    height:50px;
    background-color:#c2c8ce;
    -webkit-border-radius:6px;
    outline:2px solid #fff;
    outline-offset:-2px;
    border: 2px solid #fff;
}
::-webkit-scrollbar-thumb:hover{
    height:50px;
    background-color:#a5adb6;
    -webkit-border-radius:6px;
}



a.normal{color:#1f9db1;border-bottom:1px #1f9db1 solid;}
.setting_left{background-color:#f7f9fb;width:160px;position:absolute;left:0;top:0px;bottom:0}
.setting_right{background-color:#fff;margin-left:160px;}

.setting_nav li{height:50px;cursor:pointer;border-bottom:1px #f1f5f7 solid;position:relative;overflow:hidden;}
.setting_nav li i{visibility:hidden;position:absolute;right:-5px;top:20px;width:10px ;height:10px;background-color:white;transform:rotate(-40deg) skewX(15deg);}
.setting_nav li span{float:left;line-height:50px;font-size:16px;}
.setting_nav li em{float:left;width:24px;height:24px;background-repeat:no-repeat;background-position:center;margin:13px 13px 13px 23px}

.setting_nav li em.icon_audio{background-image:url(../images/setting/icon_audio.png)}
.setting_nav li em.icon_camera{background-image:url(../images/setting/icon_camera.png)}
.setting_nav li em.icon_network{background-image:url(../images/setting/icon_network.png)}
.setting_nav li em.icon_meeting{background-image:url(../images/setting/icon_meeting.png)}
.setting_nav li em.icon_record{background-image:url(../images/setting/icon_record.png)}

.setting_nav li.current{background-color:#dbe3e8;}
.setting_nav li.current span{color:#1f9db1}
.setting_nav li.current i{visibility:visible}

.setting_nav li.current em.icon_audio{background-image:url(../images/setting/icon_audio_hover.png)}
.setting_nav li.current em.icon_camera{background-image:url(../images/setting/icon_camera_hover.png)}
.setting_nav li.current em.icon_network{background-image:url(../images/setting/icon_network_hover.png)}
.setting_nav li.current em.icon_meeting{background-image:url(../images/setting/icon_meeting_hover.png)}
.setting_nav li.current em.icon_record{background-image:url(../images/setting/icon_record_hover.png)}
.setting_filedwon{width:160px;cursor:pointer;position: absolute;left:0px; bottom:40px;height:42px;line-height: 42px; border-left:4px solid #f7f9fb;font-size: 16px;}
.setting_filedwon .icon_filedown{float:left;width: 24px;height: 24px;background:url("../images/setting/icon_down.png") no-repeat;margin:13px 13px 0px 19px;}
.setting_fileCurrent{border-left:4px solid #1f9db1;color:#1f9db1}
.setting_fileCurrent .icon_filedown{background:url("../images/setting/icon_downhover.png") no-repeat;}

#audio_setting{position:relative;}
.setting_tab{float:left; font-size:14px; padding-left:165px;}
.setting_tab em{ margin:0px 8px;display: inline-block;}
.setting_tab_hover{color:#1f9db1; border-bottom:1px solid #1f9db1}
.setting_item{position: relative;height: 483px;}
.toast_message{width:408px;position: absolute;padding-left:25px;line-height:40px; background-color:#ff6666;left: 50%;transform:translate(-50%,0%); bottom:0px;color:#fff;z-index:9999}
.toast_message p{ float: left}
.toast_message .close{float: right;width: 24px;height: 24px;  background: url(../images/dialog_close.png) center no-repeat;  margin: 6px;cursor: pointer;}
.setting_item .setting_item_title{font-size:16px;line-height:50px;height:50px;border-bottom:1px #e3e5ea solid;color:#333;padding-left:22px}
.setting_item .setting_item_title.iconBack{background:url(../images/setting/icon_back.png) 5px center no-repeat;padding-left:30px;cursor:pointer}
.setting_item .setting_item_title span{ float:right; margin-right:20px;}
.setting_item .setting_item_title span a{ color:#1f9db1; border-bottom:1px solid #1f9db1; font-size:14px; margin-left:16px;vertical-align:middle}
.setting_item .setting_item_title .fl{float: left}
.setting_item .setting_item_title .icon_del{background: url("../images/setting/icon_del.png") no-repeat;width:24px;height:24px;display: inline-block;border:none; margin-top:5px; }
.setting_item .setting_item_title .icon_del:hover{background:url("../images/setting/icon_del_hover.png") no-repeat}
.setting_item .setting_item_title .icon_edit{background: url("../images/setting/icon_edit.png") no-repeat;width:24px;height:24px;display: inline-block;border:none; margin-top:5px; }
.setting_item .setting_item_title .icon_edit:hover{background:url("../images/setting/icon_edit_hover.png") no-repeat}
.setting_item .setting_item_title .icon_reload{background: url("../images/setting/icon_reload.png") no-repeat;width:24px;height:24px;display: inline-block;border:none; margin-top:5px; }
.setting_item .setting_item_title .icon_reload:hover{background:url("../images/setting/icon_reload_hover.png") no-repeat}

.setting_item .form{}
.setting_item .form .tr{min-height:50px}
.setting_item .form .tr:after{ content:"";display:block;clear:both}
.setting_item .form .tr .tr_label{float:left;margin-left:22px;line-height:50px;font-size:16px;color:#333}
.setting_item .form .tr .tr_con{margin-left:110px}

.setting_item .form .tr .readonly{line-height:50px;font-size:14px;color:#666}

.setting_item .form .meet_settings .tr{min-height:38px}
.setting_item .form .meet_settings .tr .tr_label{float:left;margin-left:22px;line-height:38px;font-size:16px;color:#333}

.setting_item .form .chk_tr{line-height:36px;min-height:36px;padding-left:16px;font-size:16px}
.setting_item .form .chk_tr:after{ content:"";display:block;clear:both}
.setting_item .form .chk_tr span{display:inline-block;vertical-align:middle}
.setting_item .form .chk_tr p{font-size:14px;color:#999;text-indent:26px;line-height:20px}
.setting_item .form .gray{ color:#ccc; font-size:14px;}

.custom_select {display:block;position: relative;background: white;border: 1px solid #e4e6ea;border-radius: 2px;}
/*.custom_select {overflow:hidden;}*/
.custom_select:before, .custom_select:after {content: '';position: absolute;right: 11px;width: 0;height: 0;border-left: 3px outset transparent;border-right: 3px outset transparent;}
.custom_select:before {top: 10px;border-bottom: 3px solid #7f9298;}
.custom_select:after {top: 16px;border-top: 3px solid #7f9298;}
.custom_select > select,.custom_select > input{box-sizing: border-box;position: relative;z-index: 2;width:100%;font-size:14px;height: 29px;line-height: 17px;padding: 5px 9px;padding-right: 0;color: #666;background: transparent;background: rgba(0, 0, 0, 0);border: 0;-webkit-appearance: none;}
.custom_select > select:focus,.custom_select > input:focus {color: #333;outline: 0;}
.custom_select > input{ width: 50px;}
.custom_select .gray{ color:#999;}
.custom_select .input_select{ position: absolute; width:203px; left: 0px; top:30px; border:1px solid #c69f53; background:#fff; z-index:9999}
.custom_select .input_select ul{ height: auto}
.custom_select .input_select li{line-height:20px; padding:0px 10px;}
.custom_select .input_select li:hover{ background: #1e90ff;color:#fff}
.custom_select .btn_select{ width:120px; height:30px; float: right; display:inline-block; cursor: pointer}

.custom_audio{ float: left;margin-top: 10px;width: 365px;}
.custom_audio_line{width: 100%; height: 5px; background-color:#cccccc;border-radius: 3px; margin:10px 0px 30px;position:relative}
.custom_audio_line .line_audio{height: 100%;background-color:#1f9db1;border-radius: 3px 0px 0px 3px;}
.custom_audio_line .circle_audio{width:13px; height:13px; cursor:pointer;border-radius:50%; background-color:#1f9db1;position: absolute; top:-4px; box-shadow:0px 1px 2px #cbc;}
.audio_test{ display: inline-block; position: relative; top:41px; left:-276px;}

.custom_slider{background-color: #cccccc;border-radius: 15px;width: 365px;-webkit-appearance: none;height:6px;}
.custom_slider::-webkit-slider-thumb{-webkit-appearance: none;height: 20px;width: 10px;background: #1f9db1;border-radius: 15px;box-shadow: 0 -1px 1px black inset;}

.custom_btn{cursor:pointer;display:inline-block;background-color:#1f9db1;color:#fff;font-size:14px;border:0;border-radius:3px;height:32px;padding:0 14px}
.custom_btn:hover{background-color:#008a9a}


.custom_btn span{display:inline-block;font-style:normal}
/*.custom_btn.waiting{background-color:#d8dfe6;}*/
.custom_btn.waiting,.custom_btn.dis{background-color:#d8dfe6;}
.custom_btn.waiting:after{vertical-align:middle;margin-left:8px;display:inline-block;width:16px;height:16px;content:"";background:url(../images/btn_waiting.gif) no-repeat}



.custom_txt{border: 1px solid #e4e6ea;border-radius: 2px;line-height:28px;padding:1px 10px;font-size:14px;}


.custom_checkbox{display:none;}
.custom_checkbox + label {
    background-color: #fff;
    border: 1px solid #C1CACA;
    padding: 7px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
}
.custom_checkbox + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.custom_checkbox:checked + label {
    background-color: #1f9db1;
    border: 1px solid #1f9db1;
}

.custom_checkbox:checked + label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width:12px;height:8px;
    background:url(../images/setting/custom_chk_1.png) no-repeat;
}

.setting_item .form .custom_select{float:left;margin-top:10px;width:365px;}
.setting_item .form .meet_settings .custom_select{margin-top:4px}
.setting_item .form .custom_slider{margin-top:22px;float:left;}
.setting_item .form .custom_btn{clear:both;float:left;}
.setting_item .form  .custom_txt{float:left;width:380px}
.setting_item .form .mm_password{ width:140px; float:none; margin:0px 1px;}
.setting_item .form .custom_checkbox + label {vertical-align:middle;margin-right:9px}

.setting_item  .video_view{background-color:#000;width:362px;height:204px;display:block;clear:both}
.setting_item .form .password_video{display:inline-block}
/*.setting_item .custom_checkbox:checked~.password_video{display:inline-block}*/
@-webkit-keyframes rotate{
    0%{transform:rotate(0deg);}
    100%{  transform:rotate(360deg);}
}
.network_doctor{position:relative;width:640px;margin:22px 0 0 22px;height:180px}

.network_doctor .item{position:absolute;top:0;left:0;width:100px;text-align:center;}
.network_doctor .item span{display:block;}

.network_doctor .item .line{height:3px;background-color:#e8eff2;position:absolute;top:48px;left:100px;width:100px}
.network_doctor .item.fai .line,.network_doctor .item.suc .line{background-color:#1f9db1}

.network_doctor .item .words{color:#bfc2c6;font-size:14px}
.network_doctor .item.fai .words{color:#727b80}
.network_doctor .item.suc .words{color:#727b80}
.network_doctor .item.you .words{color:#727b80}
.network_doctor .item.liang .words{color:#727b80}
.network_doctor .item.yiban .words{color:#727b80}
.network_doctor .item.cha .words{color:#727b80}

.network_doctor .item .ring{opacity:0;position:absolute;top:0;left:0;width:100px;height:100px;background:url(../images/setting/test_ring.png) center center no-repeat;background-size:100% 100%}
.network_doctor .item.ing .ring{opacity:1;animation:rotate 1s infinite linear;}

.network_doctor .item .sta{opacity:0;width:28px;height:28px;position:absolute;top:72px;left:72px;background-repeat:no-repeat;background-size:100% 100%}
.network_doctor .item.suc .sta{opacity:1;background-image:url(../images/setting/test_suc.png)}
.network_doctor .item.fai .sta{opacity:1;background-image:url(../images/setting/test_fail.png)}

.network_doctor .item .cricle{margin-bottom:18px;box-sizing:border-box;border:3px #e8eff2 solid;border-radius:100%;width:100px;height:100px;background-size:56px 56px;background-repeat:no-repeat;background-color:#fff;background-position:center}

.network_doctor .item.suc .cricle{border-color:#1f9db1}
.network_doctor .item.fail .cricle{border-color:#e8eff2}
.network_doctor .item.you .cricle{border-color:#1f9db1}
.network_doctor .item.liang .cricle{border-color:#1f9db1}
.network_doctor .item.yiban .cricle{border-color:#1f9db1}
.network_doctor .item.cha .cricle{border-color:#1f9db1}

#network_doctor_item1{left:0;top:0}
#network_doctor_item2{left:180px;top:0}
#network_doctor_item3{left:360px;top:0}
#network_doctor_item4{left:540px;top:0}

#network_doctor_item1 .cricle{background-image:url(../images/setting/test1_nor.png)}
#network_doctor_item1.suc .cricle{background-image:url(../images/setting/test1_suc.png)}
#network_doctor_item1.fai .cricle{background-image:url(../images/setting/test1_fai.png)}

#network_doctor_item2 .cricle{background-image:url(../images/setting/test2_nor.png)}
#network_doctor_item2.suc .cricle{background-image:url(../images/setting/test2_suc.png)}
#network_doctor_item2.fai .cricle{background-image:url(../images/setting/test2_fai.png)}

#network_doctor_item3 .cricle{background-image:url(../images/setting/test3_nor.png)}
#network_doctor_item3.suc .cricle{background-image:url(../images/setting/test3_suc.png)}
#network_doctor_item3.fai .cricle{background-image:url(../images/setting/test3_fai.png)}

#network_doctor_item4 .cricle{background-image:url(../images/setting/test4_nor.png)}
#network_doctor_item4.you .cricle{background-image:url(../images/setting/test4_you.png)}
#network_doctor_item4.liang .cricle{background-image:url(../images/setting/test4_liang.png)}
#network_doctor_item4.yiban .cricle{background-image:url(../images/setting/test4_yiban.png)}
#network_doctor_item4.cha .cricle{background-image:url(../images/setting/test4_cha.png)}
.network_report{color:#727b80;}
.network_report div{font-size:14px;line-height:20px;margin-bottom:4px;height:20px}
.network_report .report_suc{background:url(../images/setting/report_suc.png) center left no-repeat;padding-left:24px}
.network_report .report_fai{background:url(../images/setting/report_fai.png) center left no-repeat;padding-left:24px}

.network_report ul{width:640px;padding-top:10px}
.network_report ul li{width:50%;float:left;}

.meet_settings{width:100%;height:400px;box-sizing: border-box;overflow-y:auto;}
.meet_settings .subtitle{background-color:#f7f9fb;font-size:16px;color:#333;padding:0 14px;margin-top:12px;margin-bottom:6px}
.setting_item .form .meet_settings .tr .tr_label{color:#666}
.setting_item .form .meet_settings .tr .tr_con{margin-left:220px}
.record_setting{padding-top:10px;font-size:14px}
.record_setting p{margin:6px 22px;display:block;overflow:hidden;}
.setting_item .form .record_setting .custom_btn{clear:none;margin-left:14px}
.record_setting h3{font-size:16px;background:#f7f9fb;height: 28px; line-height:28px; text-indent:14px; margin:0px 0px 15px;}

.meet_setting_scroll{height:400px;overflow:scroll; margin-right: 0px;}
.meet_settings .meet_list{ width:100%; line-height:40px;height:40px;overflow:hidden;background:#f7f9fb;box-sizing:border-box; padding:0px 10px;margin-bottom: 1px}
.meet_settings .meet_list:hover{background:#f2f5f9;cursor: pointer }
.meet_settings .meet_list li{float: left;font-size: 14px;}
.meet_settings .meet_list .lis_icon{width:4%}
.meet_settings .meet_list .lis_name{width:25%;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;padding-right:15px;}
.meet_settings .meet_list .lis_number{width:12%}
.meet_settings .meet_list .lis_time{width:12%}
.meet_settings .meet_list .lis_date{width:19%}
.meet_settings .meet_list .lis_switch{float:right;color:#aeaeae;width:21%}
.meet_settings .meet_list .lis_do{float:right; width:22%}
.meet_settings .meet_list .lis_do a{color:#1f9db1; margin:0px 8px; display:none}
.meet_settings .meet_list:hover .lis_do a{display:inline-block}
.meet_settings .meet_down_list{ width:100%;float:left;background:#f7f9fb;box-sizing:border-box; padding:15px 20px;margin-bottom: 1px}
.meet_settings .meet_down_list li{ float: left}
.meet_settings .meet_down_list .progress_bar{float:left;margin:8px 10px 0px 0px; width:160px;height:2px;background:#7a7a7a;position: relative}
.meet_settings .meet_down_list .progress_bar_current{position:absolute;top:0px;left:0px;background-color:#1f9db1;width:100%; height:2px;}
.meet_settings .meet_down_list .text_gray{color:#c3c3c3;font-size: 12px; margin-top:4px;}
.meet_settings .meet_down_list .d_icon{width:10%;}
.meet_settings .meet_down_list .d_name{width:65%;margin-top:4px;}
.meet_settings .meet_down_list .d_play{width:10%;float: right;}
.meet_settings .meet_down_list .d_handle{width:14%;float: right;text-align: right}
.meet_settings .meet_down_list .d_play a,.meet_settings .meet_down_list .d_handle a{color:#1f9db1; margin:0px 10px;}

.meet_settings .self_setting{width:100%; font-size: 14px;line-height:32px;margin-top:15px;}
.meet_settings .self_setting .titlem{width:114px;padding-left:20px;}
.meet_settings .self_setting .input_w{width:130px;margin:0px 10px 10px 0px;float: none}
.meet_settings .self_setting .input_w30{width:30px;margin:0px 10px 10px 0px;float: none}

#setting_mask{background-color:rgba(0,0,0,0.4);position:absolute;left:0;top:-36px;bottom:0;right:0;z-index:62}


.settingDialog .btns{border-top:#e5e5e5 1px solid;padding-top:22px;text-align:center;}
.settingDialog .btns span{font-size:14px;min-width:100px;cursor:pointer;display:inline-block;background-color:#1f9db1;color:#fff;border:0;border-radius:3px;height:32px;line-height:32px;text-align:center;padding:0 16px;}
.settingDialog .btns span em{display:inline-block;font-style:normal}
.settingDialog .btns span.waiting,.settingDialog .btns span.dis{background-color:#d8dfe6;}
.settingDialog .btns span.waiting:after{vertical-align:middle;margin-left:8px;display:inline-block;width:16px;height:16px;content:"";background:url(../images/btn_waiting.gif) no-repeat}
.settingDialog .btns button{border:none;font-size:14px;min-width:100px;cursor:pointer;display:inline-block;background-color:#1f9db1;color:#fff;border:0;border-radius:3px;height:32px;line-height:32px;text-align:center;padding:0 16px;}
.settingDialog .btns button:disabled{background-color:#d8dfe6;}

.detectConfig{overflow:hidden;margin:98px 30px 0}
.detectConfig ul{overflow:hidden;height:201px}
.detectConfig .item{width:50%;float:left;margin-bottom:24px;}
.detectConfig .item .label{width:103px;float:left;text-align:right;padding-right:10px;font-size:16px;line-height:31px;color:#333}
.detectConfig .item .con{margin-left:113px;}

.settingDialog{width:700px;height:429px;position:absolute;min-width:300px;z-index:63;border-radius:4px;overflow:hidden;background-color:#fff;left:50%;top:50%;margin-left:-350px;margin-top:-215px}
.settingDialog .settingDialog_title{background-color:#7599ae;font-size:14px;height:36px;color:#fff;line-height:36px;padding-left:14px}
.settingDialog .settingDialog_title .close{float:right;width:24px;height:24px;background:url(../images/dialog_close.png) center no-repeat;margin:6px;cursor:pointer}
.settingDialog .con{}
.networkList {margin:0;overflow:auto;font-size:14px;color:#686d71;height:322px;}
.networkList::-webkit-scrollbar-track-piece{
    background-color:#fff;
    -webkit-border-radius:6px;
}
.networkList::-webkit-scrollbar{
    width:12px;
    height:12px;
}
.networkList::-webkit-scrollbar-thumb{
    height:50px;
    background-color:#c2c8ce;
    -webkit-border-radius:6px;
    outline:2px solid #fff;
    outline-offset:-2px;
    border: 2px solid #fff;
}
.networkList::-webkit-scrollbar-thumb:hover{
    height:50px;
    background-color:#a5adb6;
    -webkit-border-radius:6px;
}

.networkList .tr{height:46px;overflow:hidden;}
.networkList .tr .td{float:left;height:46px;overflow:hidden;}
.networkList .tr .td.check{width:60px;}
.networkList .tr .td.name{width:133px;line-height:46px;}
.networkList .tr .td.state{min-width:100px;line-height:46px;}

.networkList .tr.active .td.name{color:#000}
.networkList .tr.active .td.state{background:url(../images/loading_white_24.gif) center right no-repeat;background-size:14px 14px;padding-right:18px;}

.networkList .tr .td.result{width:450px;overflow:hidden;}
.networkList .tr .td.result ul{float:left;margin-top:3px}
.networkList .tr .td.result li{width:150px;color:#aeaeae;float:left;line-height:20px;}

.networkList .tr .td .custom_checkbox + label{float:left;margin-top:15px;margin-left:20px}

#more_video_setting .camera_item{border-bottom:1px #ccc dotted;padding-bottom:15px}

.camera_preview{margin-left:60px;}
.camera_preview .show{float:left;margin-right:18px}
/*.camera_preview .show img{background-color:#000;width:362px;height:198px;display:block;}*/

.camera_preview .options{float:left;font-size:14px}
.camera_preview .options li{line-height:31px;min-height:31px;margin-bottom:8px;}
.camera_preview .options li label{float:left;width:70px;}
.camera_preview .options li .custom_select{margin-top:0;width:185px}
.camera_preview .options .btn{font-size:14px;min-width:100px;cursor:pointer;display:inline-block;background-color:#1f9db1;color:#fff;border:0;border-radius:3px;height:32px;line-height:32px;text-align:center;padding:0 16px;}
.camera_preview .options .btn:hover{background-color:#008a9a}

.camera_preview .options .btn em{display:inline-block;font-style:normal}
.camera_preview .options .btn.waiting,.camera_preview .options .btn.dis{background-color:#d8dfe6;}
.camera_preview .options .btn.waiting:after{vertical-align:middle;margin-left:8px;display:inline-block;width:16px;height:16px;content:"";background:url(../images/btn_waiting.gif) no-repeat}


.setTips{position:absolute;background-color:#d0dde5;border-radius:4px;z-index:3}
.setTips p,.setTips i{font-size:14px;color:#595a5d;padding:6px 10px;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.setTips i{line-height:20px; font-style:normal}
.setTips em{position:absolute;width:10px;height:10px;background-color:#d0dde5;transform:rotate(45deg) translateX(-50%);left:20%;top:0px}
.setTips.down em{bottom:-8px;top:auto;left:auto;right:20%;}

.camera_list{height:210px;overflow:auto;border-bottom:#e5e5e5 1px solid;margin-bottom:15px}

.meet_setting_scroll::-webkit-scrollbar-track-piece,.camera_list::-webkit-scrollbar-track-piece{
    background-color:#fff;
    -webkit-border-radius:6px;
}
.meet_setting_scroll::-webkit-scrollbar,.camera_list::-webkit-scrollbar{
    width:12px;
    height:12px;
}
.meet_setting_scroll::-webkit-scrollbar-thumb,.camera_list::-webkit-scrollbar-thumb{
    height:50px;
    background-color:#c2c8ce;
    -webkit-border-radius:6px;
    outline:2px solid #fff;
    outline-offset:-2px;
    border: 2px solid #fff;
}
.meet_setting_scroll::-webkit-scrollbar-thumb:hover,.camera_list::-webkit-scrollbar-thumb:hover{
    height:50px;
    background-color:#a5adb6;
    -webkit-border-radius:6px;
}

.setting_titleBar{background-color:#7599ae;font-size:14px;height:36px;color:#fff;line-height:36px;padding-left:14px}
.setting_titleBar .close{float:right;width:24px;height:24px;background:url(../images/dialog_close.png) center no-repeat;margin:6px;cursor:pointer}
.setting_abToast{min-width:200px;padding:10px 20px;font-size:16px;overflow:hidden;background-color:rgba(0,0,0,0.9);color:#fff;text-align:center;border-radius:6px;position:absolute;bottom:40px;left:50%;z-index:98;transform:translateX(-50%);}

#filesDownload{width:502px;height:340px}
#filesDownload .desc{color:#666;font-size:18px;margin-top:80px;text-align:center;margin-bottom:60px}
#filesDownload .btns{text-align:center;font-size:0}
#filesDownload .btns span{cursor:pointer;background-color:#1f9db1;width:100px;height:36px;border-radius:4px;text-align:center;line-height:36px;color:#fff;font-size:14px;display:inline-block;}
#filesDownload .btns span:hover{background-color:#008a9a}
#filesDownload .btns span:active{background-color:#008292}
#filesDownload .btns span.btn_cancel{background-color:#b0b7bb;margin-left:86px}

#videoFielsDetails{width:880px;height:520px;box-shadow:0 0 28px 0px rgba(0,0,0,0.2);top:43%;}
.homeDialog{position:absolute;min-width:300px;z-index:63;border-radius:4px;overflow:hidden;background-color:#fff;left:50%;top:50%;transform: translate(-50%, -50%);}
.homeDialog .title{background-color:#7599ae;font-size:14px;height:36px;color:#fff;line-height:36px;padding-left:14px}
.homeDialog .title .close{float:right;width:24px;height:24px;background:url(../images/dialog_close.png) center no-repeat;margin:6px;cursor:pointer}
.homeDialog .con{}
.videoFielsDetails{width:740px;padding-top:20px;margin:0 auto}
.videoFielsDetails .content{margin-bottom:20px}
.videoFielsDetails .content .content_line{font-size:16px;height:40px;line-height:40px;border-bottom:1px #e3e4e5 solid;padding:0 12px;float:left;width:100%}
.videoFielsDetails .content .p_left{float:left}
.videoFielsDetails .content .p_add{float:right; width:360px; }
.videoFielsDetails .content p label{float:left;width:96px;color:#777}
.videoFielsDetails .content p span{color:#444}
.videoFielsDetails .btns{position:relative;z-index:2;text-align:center;height:64px;clear: both;padding-top:25px;}
.videoFielsDetails .btns .btn{cursor:pointer;display:inline-block;line-height:36px;text-align:center;width:156px;height:36px;border:0px;border-radius:4px;color:#686d71;font-size:14px;color:#fff;background-color:#1f9db1;padding:0px 10px;}
.videoFielsDetails .btns .btn:hover{background-color:#008a9a}
.videoFielsDetails .btns .btn:active{background-color:#008292}
.videoFielsDetails .btns .btn.btn_invite{float:left;}
.videoFielsDetails .btns .btn.btn_sms{float:right;}

.videoFielsDetails .btns .invite_tips{left:0;top:67px}
.videoFielsDetails .btns .copy_tips{left:370px;top:67px}
.videoFielsDetails .btns .sms_tips{right:0;top:67px}
.videoFielsDetails .btns .sms_tips em{left:72%;}
.videoFielsDetails .homeTips{position:absolute;min-width:160px;background-color:#d0dde5;border-radius:4px;}
.videoFielsDetails .homeTips p{font-size:14px;color:#595a5d;padding:6px 10px;text-align:center}
.videoFielsDetails .homeTips em{position:absolute;width:10px;height:10px;background-color:#d0dde5;transform:rotate(45deg) translateX(-50%);left:50%;top:0px}
.videoFielsDetails .banner{position:relative;z-index:1;border:1px solid #e0e6ec;width:740px;height:130px;background:url(../images/setting/share_viedo.png) no-repeat 142px 20px}
.videoFielsDetails .banner .qrimg{width:95px;height:95px;left:17px;top:18px;position:absolute;}

#videoPlayDetails{width:880px;height:520px;box-shadow:0 0 28px 0px rgba(0,0,0,0.2);background-color:#000}
.videoPlayDetails{width:840px;padding-top:20px;margin:0 auto}
.videoPlayDetails .content{margin-bottom:20px}

.setting_blank{padding:2px 10px;position: absolute;top:50%;left: 50%;transform:translate(-50%,-50%);}
.setting_blank p{line-height:34px;color:#b0b0b0;font-size:18px;text-align: center}
.setting_loading{position:absolute;top:50%;left:50%;text-align:center;margin:20px 0;padding-top:28px;background:url(../images/loading_white_24.gif) center top no-repeat;transform: translate(-50%, -50%)}
.setting_loading h4{font-size:12px;color:#ddd}


