
body{font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,.lead{font-family:"ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif}
html,body{height:100%}
body{background:#f2f2f2}

/* --------------------------------------
=========================================
GLOBAL STYLES
=========================================
-----------------------------------------*/

html {
    font-size: 100%;
}

body {
    background: #232323;
    /*font-family: 'Roboto', sans-serif;*/
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    font-weight: 300;
    /*color: #c8c8c8;*/
    line-height: 28px;
    overflow-x: hidden !important;
    margin: auto !important;
}

/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

a {
    -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
}

a:hover {
    text-decoration: none;
}

.btn:focus,
.btn:active {
    outline: inherit;
}

textarea:focus, input:focus {
    color: #ffffff;
}
/* Other fixes*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
            box-sizing: border-box;
}

ul,
ol {
    padding-left: 0 !important;
}

li {
    list-style: none;
}

/* HEADINGS */

h1,
h2 {
    font-family: 'Lane', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 2.62rem;
    line-height: 3.288rem;
}

h2 {
    font-size: 3.125rem;
    line-height: 4.063rem;
}

h3 {
    font-size: 30px;
    line-height: 48px;
    font-weight: 300;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

h5 {
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
}

/*---------------------------------------
   SECTION:  HOME
-----------------------------------------*/
header {
    width: 100%;
    height: 60px;
}
/* TOP BAR WITH NAVIGATION */

.navbar {
  min-height: 60px;
  background: #000000;
  border: none;
  padding: 0 !important;
  margin-bottom: 0 !important;
  -webkit-backface-visibility: hidden;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
          box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
}

.navbar-header img {
  max-height: 30px;
  -webkit-backface-visibility: hidden;
}

.main-navigation a {
  color: #FFFFFF;
  position: relative;
  outline: none;
}

.main-navigation li a {
  line-height: 30px;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  color: #c8c8c8;
}

.logoSticky{
    margin-top: 16px;
    width: 100;
    height: 30px;
}

header .navbar {
    background: none;
    padding-top: 0px;
}

header .navbar .navbar-header {
    float: none;
}

.home {
  background:#222;
  background-repeat:no-repeat;
  background-position:center 0;
  -webkit-background-size:cover;
  background-size:cover;
  padding:108px 50px 0 50px;
  text-align:center;
  min-height:400px;
  position:relative
}

.intro {
  background:#222;
  background-repeat:no-repeat;
  background-position:center 0;
  -webkit-background-size:cover;
  background-size:cover;
  padding:38px 0 0;
  text-align:center;
  min-height:400px;
  position:relative
}

.inner-content {
  background: white;
  text-align: center;
  padding: 10px;
}

/*---------------------------------------
   footer style
-----------------------------------------*/

.widget{margin-bottom:35px}
.widget .title{margin-top:0;padding-bottom:7px;border-bottom:1px solid #ebebeb;margin-bottom:21px;position:relative}
.widget .title:after{content:"";width:90px;height:1px;background:#337ab7;position:absolute;left:0;bottom:-1px}
.widget .friend-links a{display:block;border-bottom:1px dashed #303030;padding-bottom:14px;margin-bottom:14px;color:#959595;-webkit-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease}
.widget .friend-links a:hover{color:#fff;text-decoration:none}
.widget .friend-links a:last-child{margin-bottom:0}
.widget .tag-cloud a{border:1px solid #ebebeb;padding:2px 7px;color:#959595;line-height:1.5em;display:inline-block;margin:0 7px 7px 0;-webkit-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease}
.widget .tag-cloud a:hover{color:#fff;background:#337ab7;border:1px solid #337ab7;text-decoration:none}
.submit-site{background-color:#eee;padding-top:40px;padding-bottom:40px;margin-top:20px}
.main-footer{background:#202020;padding:35px 0 0;color:#959595}
.main-footer .widget{padding:0 30px}
.main-footer .widget .title{color:#fff;border-bottom:1px solid #303030}
.main-footer .widget .tag-cloud a{border:1px solid #303030}
.main-footer .widget .tag-cloud a:hover{border:1px solid #337ab7}
.copyright{background:#111;font-size:13px;text-align:center;color:#555;padding-top:14px;padding-bottom:20px;border-top:1px solid #303030}
.copyright span{margin:0 .5em}
.copyright a{color:#555}
