

<div class="col-xs-12 col-sm-12" style="border:1px solid red;">
    <p>home world!</p>
    <p>Hello world!</p>
    <p>Hello world!</p>
    <p>Hello world!</p>
    <p>Hello world!</p>
    <p>Hello world!</p>
    <p>Hello world!</p>
</div>
<div class="col-xs-12 col-sm-6" style="border:1px solid red;">
    Hello world!
</div>
<div class="col-xs-12 col-sm-6" style="border:1px solid red;">
    Hello world!
</div>
<div class="col-xs-12 col-sm-6" style="border:1px solid red;">
    Hello world!
</div>
<div class="col-xs-12 col-sm-6" style="border:1px solid red;">
    Hello world!
</div>
