<!-- <div ng-controller="JustMeeting" ng-click="hidemore()"  class="mainhome"> -->
<div ng-click="hidemore()"  class="mainhome">
<div class="main_nav">
    <ul class="list0">
        <li id="myAccountBt" ng-click="btnClick(1)" >
            <div class="user_ava">
                <img title="我的信息" src="./images/home/ava48_48.png">
            </div>
        </li>
    </ul>

    <ul class="list1">
        <li title="会议" id="meetingid" class="current" ng-click="btnClick(2)"><em class="meeting" ></em></li>
        <li title="通讯录" id="addressBookid" ng-click="btnClick(3)"><em class="addressbook" ></em></li>
        <li title="收藏" id="collectid" ng-click="btnClick(5)"><em class="collect" ></em></li>
    </ul>
    <ul class="list2">
        <li title="更多" ng-click="moreClick($event)" ng-blur="hidemore()" ><em class="more" ></em></li>
        <li title="设置" id="settingBt" ng-click="btnClick(4)"><em class="setting" ></em></li>
    </ul>
    <div class="logo"><img src="./images/home/butel.png"></div>
</div>
<div class="home_page" ng-include="categoryPath" >
</div>
