
<div class="inner-content">
  <div class="container">
    <div class="row" style="padding:0 40px;">

      <div class="col-xs-12 col-sm-4" style="padding:10px;" ng-repeat="tag in datasource">
        <div class="" style="border-top:1px solid #337ab7;">
          <h4>{{tag.name}} ({{tag.sources.length}})</h4><hr>
          <div>
            <!-- 无内容 -->
            <ul ng-if="tag.sources.length == 0">
              <h4 style="color:#EE6363;">暂无内容 ～～！</h4>
            </ul>
            <!-- 有内容 -->
            <ul ng-if="tag.sources.length > 0">
              <li ng-repeat="source in tag.sources">
                <a href="{{source.href}}" target="_blank">{{source.title}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>


  </div>
</div>
