

<div class="introd">
  <div class="container">
    <div class="row" style="padding:0 40px;">
      <div id="my_intro" style="box-shadow: 2px 2px 5px #000;padding-top:20px;">
        <div class="box">
          <h3>教育背景</h3>
          <hr/>

          <ol>
            <li>2012.09 － 2016.06 ｜ 天津城建大学</li>
            <li>软件工程专业 ｜ 本科学历</li>
          </ol>

          <hr/>
        </div>

        <div class="box">
          <h3>工作经验</h3>
          <hr/>

          <hr/>
        </div>

        <div class="box">
          <h3>相关技能</h3>
          <hr/>

          <hr/>
        </div>

      </div>
      <div id="round" class="round" style="width:50px;z-index:10;">

      </div>
      <script type="text/javascript">
      console.info(1);
        alert($('#my_intro').width() / 2 - $('#round').width() / 2);
      </script>

    </div>
  </div>
</div>
