<html>
<body>
<div ng-controller="AppointMeeting" style="width: 600px;height: 400px;background-color: white;border: 2px solid;border-color: #e4e6ea" >
    <div  style="padding-left: 10px;background-color: #3abcc4;opacity: 0.6;">
       <span> 预约会议</span>
        <input type="button" ng-click="exitAppoint()" style="float: right;background: transparent;background-image: none;" value="退出">
    </div>
    <div style="width: 350px;height: 280px;margin-top: 60px;margin-left: 125px;padding-top: 30px">
               <div  style="margin-left: 20px;width: 300px;height: 30px;">
                    <span style="padding-right: 0px;display: inline-block;width: 80px">会议主题</span><input style="margin-left: 20px;width: 190px;height: 25px"  ng-model="topic" type="text">
               </div>
            <div  style="margin-left: 20px;width: 300px;height: 30px;margin-top: 10px">
                    <span  style="padding-right: 0px;display: inline-block;width: 80px">会议日期</span><input style="margin-left: 20px;width: 190px;height: 25px" type="date" ng-model="date">
             </div>
            <div  style="margin-left: 20px;width: 300px;height: 30px;margin-top: 10px">
            <span style="padding-right: 0px;display: inline-block;width: 80px" >会议时间</span><input style="margin-left: 20px;width: 190px;height: 25px" ng-model="time" value="2015-12" type="time">
            </div>
            <div  style="margin-left: 20px;width: 300px;height: 30px;margin-top: 10px">
                <button ng-click="createAppoinMeeting()" style="background-color: #1f9db1; margin-left: 100px;width: 190px;height: 25px;opacity: 0.6; border-radius:5px;">预约详情</button>
            </div>
    </div>

</div>
</body>
</html>